<div class="container">
	<div class="blog-header">
		<h1 class="blog-title">The Blog</h1>
		<p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
	</div>

	<div class="row">
		<!--Body content-->
		<div class="col-sm-8 blog-main">
			<div class="blog-post" ng-repeat="post in posts | filter:query | orderBy:orderProp">
				<h2 class="blog-post-title">{{post.title}}</h2>
				<p class="blog-post-meta"><a href="#/posts/{{post._id}}">{{post.created_at}}</a></p>
				<p>{{post.content}}</p>
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat.<p>
			</div>
			<div class="sidebar-module">
				<h4>Search</h4>
				<input ng-model="query" placeholder="Search">
			</div>
			<div class="sidebar-module">
				<h4>Order By</h4>
				<select ng-model="orderProp">
					<option value="title">Alphabetical</option>
					<option value="created_at">Newest</option>
					<option value="-created_at">Oldest</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-lg btn-primary btn-block"
			name="submit" ng-click="logout()">Log Out</button>
	</div>
</div>
